.App {
  text-align: center;
  background-color: #E0ECE4;
}

.App-logo {
  height: 6cqh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.portfolioText{
  margin: 5% 20%;
}

.foto-image{
  height: 400px;
  margin: 5% 15%;
}

.row{
  text-align: center;
  margin: 15px auto;
}

.mp-text{
  margin: 60px ;
}

.logoText{
  font-size: 35pt;
}

#proImg{
  height: 200px;
  width: 200px;
  margin-left: 100px ;
}